:root {
    --clr-title-200: #f9faf8;
    --clr-text-500: #e5e7eb;
    --clr-title-800: #1f2937;

    --clr-bg: #1f2937;
    --clr-btn: #3882f6;
    --clr-btn-hover: #0b64f4;

    /* --font: Roboto, sans-serif; */
    --font: "IM Fell English", serif;
    --header-font: 'Cinzel', serif;

    /*Font Weight*/
    --fw-light: 300;
    --fw-black: 900;

    /* Font Size */
    --fs-logo: 26px;
    --fs-h1: 50px;
    --fs-h2: 38px;
    --fs-h3: 28px;
    --fs-secondary: 20px;
    --fs-regular: 18px;

    /* Section Width */
    --sec-width: 1300px;
    --sec-pad-top-bot: 60px;
}


/*Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: inherit;
}

html {
    line-height: 1.5;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding-inline: 0;
}


/* Styles */
body {
    font-family: var(--font);
    font-size: var(--fs-regular);
}

h1 {
    font-size: var(--fs-h1);
    color: var(--clr-title-200);
    font-weight: var(--fw-black);
    margin-bottom: 16px;
}

h2 {
    color: var(--clr-title-800);
    font-size: var(--fs-h2);
    font-weight: var(--fw-black);
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: var(--fs-h3);
    color: var(--clr-title-800);
    font-weight: var(--fw-black);
}

.container {
    /* if got repetitive */
    /* display: flex; */
    max-width: var(--sec-width);
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    font: inherit;
    font-weight: 700;
    color: var(--clr-body);
    padding: 15px 20px;
    background: var(--clr-btn);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 4px var(--clr-text-500);
    transition: .4s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--clr-btn-hover);
}

/* Header */
header {
    background-color: var(--clr-bg);
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: var(--fs-secondary);
    color: var(--clr-text-500);
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.logo {
    font-size: var(--fs-logo);
    color: var(--clr-title-200);
}


/* Main */

/* Hero */
#hero {
    background-color: var(--clr-bg);
    padding: calc(var(--sec-pad-top-bot) + 20px) 0;
}

#hero .container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero-content {
    flex: 1;
    color: var(--clr-text-500);
    font-size: var(--fs-secondary);
}

/* .hero-content h1 {
    color: var(--clr-title-200);
    font-weight: var(--fw-black);
    margin-bottom: 16px;
} */

.hero-content p {
    margin-bottom: 20px;
}

.hero-visual {
    flex: 1;
    min-width: 0;
    height: auto;
}


/* Weapons */
#weapons {
    text-align: center;
    padding: var(--sec-pad-top-bot) 0;
}

/* #weapons h2 {
    color: var(--clr-title-800);
    font-weight: var(--fw-black);
    margin-bottom: 30px;
} */

.item-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    flex: 1 1 30%;
    min-width: 200px;
    max-width: 300px;
}

.item img {
    margin-bottom: 20px;
}

.item p {
    font-size: var(--fs-regular);
}

.item p span {
    font-size: var(--fs-secondary);
}


/* About */
#about {
    text-align: center;
    padding: var(--sec-pad-top-bot) 0;
    background-color: var(--clr-text-500);
    font-size: var(--fs-secondary);
}

/* Testimonials */
#testimonials {
    padding: var(--sec-pad-top-bot) 0;
}

#testimonials .container {
    padding: 0 50px;
}

/* .testimonial-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
} */

.testimonial-card {
    display: flex;
    align-items: center;
    gap: 50px;
}

.testimonial-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: var(--fs-h3);
    margin-bottom: 20px;
}

.quote-author {
    font-size: var(--fs-secondary);
    font-weight: var(--fw-black);
    font-style: italic;
}